.row-reverse {
    @include row-reverse;
}
.container__block {
    @include flex-row;
    @include justify-space-beetwen;

    width: vw(1000);
    margin-top: vw(150);

    .container__block-illustration {
        @include justify-start;
    }
    .container__block-illustration img {
        width: vw(204);
        height: vh(183);
        background: $block-illustration-color;
        margin-top: vw(120);
    }
    .container__block-info {
        width: vw(596);
        color: $color-light-black;

        .container__ball {
            position: absolute;

            .ball {
                width: vw(124);
                height: vw(124);
                background: $color-blue;
                border-radius:vw(124);
                position: relative;
                right: vw(50);
                bottom: vw(20);
                z-index: -1;
            }
        }
        h2 {
            font-family: "My Font Bold";
            font-size: vw(45);
            line-height: vw(45);
        }
        b {
            font-size: vw(60);
            font-weight: 100;
            font-family: "My Font Extra Light";
        }
        strong {
            font-family: "My Font Regular";
        }
        p {
            font-family: "My Font Light";
            font-size: vw(22);
            line-height: vw(33);
            margin-top: vw(35)
        }
    }

}

