footer {
    @include flex-column;
    margin-top: vw(100);
    font-family: "My Font Light";
    font-size: vw(11);
    height: vh(73);

    .footer__info-container {
        @include flex-row;
        @include justify-space-beetwen;
        @include align-items-center;
        
        height: 100%;
        padding: 0 vw(20);

        .first-column {
            width: vw(528);
        }

    
    }

}