.header-container__information {
    @include flex-row;
    @include justify-space-beetwen;
    
    padding: vw(50) vw(80);

    .header-container__title {
        @include flex-row; 
        @include justify-start; 
        @include flex-column;
        
        width: vw(524);
        line-height: vw(90);

        h1 {
            font-size: vw(100);
            margin: 0;
            font-family: "My Font Bold";
            text-transform: uppercase;
            font-weight: 900;
            color: $color-light-black;
        }
        p {
            font-size: vw(100);
            color: $color-blue;
            font-family: "My Font Light";
        }
    }
    .header-container__info {
        @include flex-column; 
        @include justify-center; 
        @include align-items-center;
        width: vw(589);
        font-family: "My Font Light";

        p.header-container__info_text {
            font-size: vw(22);
            font-family: $font-stack;            
            margin-top: vw(100);
            line-height: vw(33);
        }

        .block__ball-animation {

            @include flex-row;
            @include justify-space-beetwen;
            @include align-items-center;

            margin: vw(50) 0 0 0;
            width: 100%;

            button {
                font-size: vw(18);
                margin: 0;
                font-weight: 900;
                font-family: "My Font Regular";
            }
            button {
                opacity: 0.5;
            }
            button.active {
                opacity: 1;
            }
            .ball-animation {
                width: vw(15);
                height: vw(15);
                background: $color-blue;
                position: relative;
                left: 5%;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
}
