nav {
    @include flex-row; 
    @include justify-space-beetwen;
    padding: vw(7) vw(20) vw(0);
    .navbar__logo {
        @include align-items-center;
        display: flex;
        justify-content: space-between;
    }
    .navbar__logo-text {
        @include flex-row;
        @include align-items-center;
    }
    p {
        font-size: vw(12);
        margin-right: vw(10);
        font-family: $font-stack;
        font-weight: 700;
    }   
}