.section-video {

    @include flex-column;
    @include align-items-center;
    @include justify-center;

    margin-top: vw(120);
    
    video {
        width: vw(996);
        height: vh(594);
        background: $block-illustration-color;
    }
    .share-social-links {
        @include flex-row;
        @include align-items-center;
        @include justify-space-beetwen;

        font-family: "My Font Regular";        
        font-size: vw(18);
        margin-top: vw(80);

        p {
            margin-right: vw(21);
        }

        ul {
            @include flex-row;
            @include justify-space-around;

            width: vw(558);

            li {
                width: 25%;
                text-align: center;
                border-right: 1px solid $color-blue;
            }
            li:nth-child(4) {
                border: none;
                margin-left: vw(15);
            }
            li a {
                color: $color-blue;
            }
        }
    }
}