section.section-blocks {
    @include align-items-center;
    @include flex-column;
    @include justify-center;
}
    .section__bloks_container {
        @include align-items-center;
        @include flex-column;

        width: vw(1000);

        
    }