@mixin flex-row {
    display: flex;
}
@mixin row-reverse {
    display: flex;
    flex-direction: row-reverse
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin justify-space-beetwen {
    justify-content: space-between;
}
@mixin justify-space-around {
    justify-content: space-around;
}
@mixin align-items-center {
    align-items: center;
}
@mixin justify-center {
    justify-content: center;
}
@mixin justify-start {
    justify-content: start;
}