.container__block
    .container__block-illustration
        img(src="" alt="" title="").block-illustration
    .container__block-info
        .container__ball
            .ball
        h2 Первая <br> <b> технология </b>
        p <strong>На специальном лендинге размещается</strong> интерактивная иллюстрация, где изображен современный офис Открытия, различные цифровые системы, сотрудники компании и надпись «25 лет Открытию Брокер» или «45 лет на двоих: 25 лет «Открытие Брокер» и 20 лет УК «Открытие». Всего 5 кликабельных сущностей на иллюстрации. При клике на них пользователь узнает о технологиях и продуктах, которые реализует банк Открытие сейчас. <br/><br/> <strong>Пользователь нажимает на сотрудника</strong> и узнает о последних новостях компании в формате bubble-диалога (вопрос – вариант ответа / следующий вопрос). По дизайну это похоже на чат с сотрудником Открытия в приложении, что подчеркнет высокотехнологичность и легкость в обращении с сервисами Открытия;
        