footer
    hr
    .footer__info-container
        .first-column
            p Над проектом работали: директор спецроектов Полина Абдуллина, менеджер Александра Можаева, дизайнер Роман Постовой, арт-директор Полина Молчанова
        .second-column 
            p © 1995–2020 РосБизнесКонсалтинг 