header
    .header-container__information
        .header-container__title
            h1 Телепорт
            p на 25 лет <br> назад
        .header-container__info
            p.header-container__info_text «Открытие Брокер» и УК «Открытие» празднуют юбилей – 45 лет на двоих! Вот уже четверть века они помогают людям инвестировать на рынке и зарабатывать. За 25 лет у Открытия и его инвесторов накопилось много воспоминаний.
            .block__ball-animation
                button.active Вернуться в 2020 год
                .ball-animation
                img(src="/images/sprites/svg/vector-1.svg" alt="" title="")
                button Телепортироваться в 1995 
                