nav
    .navbar__logo
        img(src="/images/sprites/png/nine-lines-2.png" alt="" title="")
    .navbar__logo-text
        p совместный проэкт
        img(src="/images/sprites/png/nine-lines-1.png" alt="" title="")