section.section-video
    //- iframe(type='text/html' src='http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com' frameborder='0')
    video.video-js
    .share-social-links
        p Поделиться:
        ul
            li
                a(href="#") facebbok
            li 
                a(href="#") vkontakte
            li 
                a(href="#") twitter
            li 
                a(href="#") одноклассники