extends pug/base

prepend vars
    title Nine Line;

append vars

block content
  include pug/nav
  include pug/header
  include pug/slider
  include pug/section-blocks
  include pug/section-video
  include pug/footer