// stylelint-disable no-empty-source

@font-face {
    src: url("../fonts/Graphik-Black-Web.woff2") format("woff2"), url("../fonts/Graphik-Black-Web.woff") format("woff");
    font-family: "My Font Bold";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
    font-family: "My Font Regular";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/GraphikLCG-Light.woff2") format("woff2"), url("../fonts/GraphikLCG-Light.woff") format("woff");
    font-family: "My Font Light";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/GraphikLCG-Extralight.woff2") format("woff2"), url("../fonts/GraphikLCG-Extralight.woff") format("woff");
    font-family: "My Font Extra Light";
    font-weight: 400;
    font-style: normal;
}
