// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-light-black: #333333; 
$color-white: #fff;
$color-blue: #00BEF0;
$color-gray: #E5E5E5; 
$block-illustration-color: #C4C4C4;

// FONTS

$font-stack: "My Font Bold", sans-serif;
$font-stack: "My Font Regular", sans-serif;
$font-stack: "My Font Light", sans-serif;
$font-stack: "My Font Extra Light", sans-serif;


// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;
