@import url(c:\Users\User\Desktop\new site\node_modules\normalize.css\normalize.css);
@font-face {
  src: url("../fonts/Graphik-Black-Web.woff2") format("woff2"), url("../fonts/Graphik-Black-Web.woff") format("woff");
  font-family: "My Font Bold";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-family: "My Font Regular";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/GraphikLCG-Light.woff2") format("woff2"), url("../fonts/GraphikLCG-Light.woff") format("woff");
  font-family: "My Font Light";
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
  cursor: pointer;
}

.is-hidden {
  display: none !important;
}

@media (max-width: 1024px) {
  .for-desktop {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .for-mobile {
    display: none !important;
  }
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.51245vw 1.46413vw 0vw;
}

nav .navbar__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav p {
  font-size: 0.87848vw;
  margin-right: 0.73206vw;
  font-family: "My Font Light", sans-serif;
  font-weight: 700;
}

.header-container__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.66032vw 5.85652vw;
}

.header-container__information .header-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38.36018vw;
  line-height: 6.58858vw;
}

.header-container__information .header-container__title h1 {
  font-size: 7.32064vw;
  margin: 0;
  font-family: "My Font Bold";
  text-transform: uppercase;
  font-weight: 900;
  color: #333333;
}

.header-container__information .header-container__title p {
  font-size: 7.32064vw;
  color: #00BEF0;
  font-family: "My Font Light";
}

.header-container__information .header-container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43.11859vw;
  font-family: "My Font Light";
}

.header-container__information .header-container__info p.header-container__info_text {
  font-size: 1.61054vw;
  font-family: "My Font Light", sans-serif;
  margin-top: 7.32064vw;
  line-height: 33px;
}

.header-container__information .header-container__info .block__ball-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.66032vw 0 0 0;
  width: 100%;
}

.header-container__information .header-container__info .block__ball-animation button {
  font-size: 1.31772vw;
  margin: 0;
  font-weight: 900;
  font-family: "My Font Regular";
}

.header-container__information .header-container__info .block__ball-animation button {
  opacity: 0.5;
}

.header-container__information .header-container__info .block__ball-animation button.active {
  opacity: 1;
}

.header-container__information .header-container__info .block__ball-animation .ball-animation {
  width: 1.0981vw;
  height: 1.0981vw;
  background: #00BEF0;
  position: relative;
  left: 5%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

section.section-slider {
  background: #E5E5E5;
  height: 50.73206vw;
}

section.section-main__blocks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-main__bloks_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 73.20644vw;
}

* {
  margin: 0;
  padding: 0;
}

button:active,
button:focus {
  outline: none !important;
}

button {
  border: none;
  background: none;
}
/*# sourceMappingURL=main.css.map */