// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";
@import "components";

* {
    margin:  0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
  }

button:active, 
button:focus {
    outline: none !important;
    }
button {
  border: none;
  background: none;
}
